.content{
    max-width: 500px;
    margin: 25px;
    font-size: 14pt;
}

.img{
    width: 500px;
    height: 650px;
    margin: 50px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/meat_dish.jpg");
}

.page{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 255px);
}

h1{
    color: var(--fire_starter)
}