@import "./colors.css";
@import url("https://use.typekit.net/ads4zof.css");

* {
  /* font-family: sans-serif; */
  font-family: athelas, serif;
}

body {
  margin: 0;
}

.banner {
  background-color: var(--sleek);
  padding: 10px;
  position: sticky;
  top: 0px;
}

.banner > ul {
  list-style-type: none;
  display: flex;
}

.banner a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 16pt;
}
