@import "./colors.css";
@import url("https://use.typekit.net/ads4zof.css");

* {
  /* font-family: sans-serif; */
  font-family: athelas, serif;
}

body {
  margin: 0;
}

.banner {
  background-color: var(--sleek);
  padding: 10px;
  position: sticky;
  top: 0px;
}

.banner > ul {
  list-style-type: none;
  display: flex;
}

.banner a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 16pt;
}

footer{
  background-color: var(--sleek);
  /* position: absolute;
  bottom: 0px; */
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.socialWrapper > img{
  height: 30px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}