@import './colors.css';

h1{
    color: var(--fire_starter)
}

.hero{
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 200px);
    background-image: url("../images/fried_rice.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
}

.logo{
    max-width: 600px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    position: absolute;
    right: 0px;
}

.sectionWrapper{
    margin: auto;
    max-width: 1200px;
}

section{
    display: flex;
    min-height: 400px;
}

section > div{
    flex: 1;
}

.sectionImg{
    margin: 50px;
    background-position: center;
    background-size: cover;
}

.sectionContent{
    margin: 50px;
}

.sectionContent > h1{
    font-size: 25pt;
    margin: 5px 0px;
}

.sectionContent > p{
    font-size: 16pt;
    line-height: 2rem;
}

section:nth-of-type(even) > .sectionImg{
    order: 1;
}

section:nth-of-type(1) > .sectionImg{
    background-image: url("../images/seasoning.jpg");
}

section:nth-of-type(2) .sectionImg{
    background-image: url("../images/restaurant_interior.jpg");
}

.noBottomMargin{
    margin-bottom: 0px !important; 
}